@use "@/assets/styles/common.scss" as *;

.banner {
  background-color: gray;
  margin-top: -100px;
  min-height: 100vh;
  background: url("/images/homepagebanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($color: black, $alpha: 0.5);
    top: 0;
    left: 0;
    z-index: 1;
  }

  .container {
    @include Container;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // min-height: 100vh;
    gap: 48px;
    padding-top: 100px;
    padding-bottom: 48px;
    @include Responsive(XS) {
      gap: 24px;
    }

    .logo {
      width: 300px;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;

      @include Responsive(MD) {
        width: 200px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .slogan {
      font-size: 4.5rem;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      max-width: 1100px;

      @include Responsive(MD) {
        font-size: 2rem;
        max-width: 400px;
      }

      @include Responsive(XS) {
        font-size: 1.5rem;
      }
    }

    .description {
      text-align: center;
      max-width: 900px;
      font-size: 1.2rem;

      @include Responsive(MD) {
        font-size: 1rem;
        max-width: 500px;
      }
    }

    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;

      @include Responsive(MD) {
        flex-wrap: wrap;
      }
      @include Responsive(XS) {
        gap: 12px;
      }

      .btnBook {
        @include Button(XXL);
        background-color: $color_primary_1;
        font-weight: 700;

        @include Responsive(MD) {
          @include Button(L);
        }
      }

      .btnAbout {
        @include Button(XXL);
        outline: 1px solid white;
        font-weight: 700;
        color: white;
        @include Responsive(MD) {
          @include Button(L);
        }
      }
    }
  }
}

.why {
  padding: 100px 0;
  .container {
    @include Container;
    display: flex;
    gap: 100px;
    align-items: stretch;

    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include Responsive(MD) {
        width: 100%;
      }

      .title {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;

        @include Responsive(MD) {
          font-size: 1.5rem;
        }
      }

      .description {
        margin: 24px 0 48px;
        font-size: 1.1rem;

        @include Responsive(MD) {
          font-size: 1rem;
        }
      }

      .listReason {
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 72px;

        .reason {
          display: flex;
          gap: 48px;
          @include Responsive(XS) {
            flex-direction: column;
            align-items: center;
            gap: 24px;
          }

          .reasonIcon {
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include Responsive(MD) {
              width: 40px;
            }

            img {
              width: 100%;
              height: auto;
            }
          }

          .reasonContent {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            @include Responsive(XS) {
              text-align: center;
            }

            span {
              font-size: 1.1rem;
              @include Responsive(XS) {
                font-size: 1rem;
              }

              @include Responsive(MD) {
                font-size: 1rem;
              }

              &:first-child {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 900;

                @include Responsive(MD) {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }

      .btnAbout {
        @include Button(XXL);
        background-color: $color_primary_1;
        width: fit-content;
        font-weight: 800;

        @include Responsive(MD) {
          @include Button(L);
        }
        @include Responsive(XS) {
          margin: 0 auto;
        }
      }
    }

    .listImage {
      width: 50%;
      position: relative;
      padding-bottom: 20%;

      @include Responsive(MD) {
        display: none;
      }

      .image {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.service {
  padding: 0 0 100px;
  .container {
    @include Container;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headSection {
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px 0;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-color: rgba($color: white, $alpha: 0.2);
        width: calc(50% - 80px);

        @include Responsive(MD) {
          width: calc(50% - 40px);
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-color: rgba($color: white, $alpha: 0.2);
        width: calc(50% - 80px);

        @include Responsive(MD) {
          width: calc(50% - 40px);
        }
      }

      .icon {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include Responsive(MD) {
          width: 40px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .title {
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 24px;

      @include Responsive(MD) {
        font-size: 2rem;
      }
      @include Responsive(XS) {
        font-size: 1.5rem;
      }
    }

    .description {
      font-size: 1.1rem;
      text-align: center;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;

      @include Responsive(MD) {
        font-size: 1rem;
      }
      @include Responsive(XS) {
        margin: 0 auto;
      }
    }

    .listService {
      display: flex;
      gap: 48px;
      justify-content: center;
      padding: 48px 0;

      @include Responsive(SM) {
        flex-wrap: wrap;
      }

      @include Responsive(XS) {
        gap: 24px;
      }

      .serviceItem {
        border: 1px solid rgba($color: white, $alpha: 0.2);
        padding: 48px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40%;
        max-width: 300px;
        min-width: 250px;

        @include Responsive(MD) {
          padding: 24px;
        }

        .icon {
          width: 80px;
          margin-bottom: 24px;

          @include Responsive(MD) {
            width: 40px;
          }

          img {
            width: 100%;
          }
        }

        .name {
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: 800;

          @include Responsive(MD) {
            font-size: 1.2rem;
          }
        }

        .desc {
          font-size: 1.1rem;
          text-align: center;

          @include Responsive(MD) {
            font-size: 1rem;
          }
        }

        .price {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            &:first-child {
              color: rgba($color: white, $alpha: 0.5);
            }
            &:last-child {
              font-weight: 800;
            }
          }
        }
      }
    }

    .btnBook {
      @include Button(XXL);
      background-color: $color_primary_1;
      font-weight: 700;
      width: fit-content;

      @include Responsive(MD) {
        @include Button(L);
      }
    }
  }
}

.video {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px 0 1px 0;

  .autoVideo {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.portfolio {
  .container {
    @include Container;
    display: flex;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;

    @include Responsive(SM) {
      flex-direction: column;
      gap: 48px;
    }

    .image {
      width: 50%;
      border: 1px solid rgba($color: white, $alpha: 0.2);

      @include Responsive(SM) {
        width: 100%;
        max-width: 300px;
      }
    }

    .text {
      width: 50%;

      @include Responsive(SM) {
        text-align: center;
        width: 100%;
      }

      .title {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;

        @include Responsive(MD) {
          font-size: 2rem;
        }
        @include Responsive(XS) {
          font-size: 1.5rem;
        }
      }

      .description {
        font-size: 1.1rem;
        margin: 24px 0 48px;

        @include Responsive(MD) {
          font-size: 1rem;
        }
      }

      .btnView {
        @include Button(XXL);
        background-color: $color_primary_1;
        font-weight: 700;

        @include Responsive(MD) {
          @include Button(L);
        }
      }
    }
  }
}

.clientSay {
  padding: 48px 0;
  .container {
    @include Container;

    .title {
      text-align: center;
      font-weight: 900;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 24px;

      @include Responsive(MD) {
        font-size: 2rem;
      }
    }

    .description {
      font-size: 1.1rem;
      text-align: center;
      max-width: 800px;
      margin: 0 auto;

      @include Responsive(MD) {
        font-size: 1rem;
      }
    }
  }
}

.follow {
  position: relative;
  min-height: 500px;
  display: flex;
  border-color: rgba($color: white, $alpha: 0.2);
  border-width: 1px 0 1px 0;
  border-style: solid;
  // align-items: stretch;

  .background {
    background: url("/images/follow.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background-position: right;

    @include Responsive(SM) {
      width: 100%;
      background-attachment: unset;
      background-position: top;
      background-size: cover;
    }
  }

  .container {
    @include Container;
    background: linear-gradient(
      90deg,
      rgba($color_black, 1) 50%,
      rgba($color_black, 0) 70%
    );
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;

    @include Responsive(SM) {
      background: linear-gradient(
        360deg,
        rgba($color_black, 1) 50%,
        rgba($color_black, 0) 70%
      );
    }

    .text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include Responsive(SM) {
        justify-content: flex-end;
        text-align: center;
        width: 100%;
      }

      .title {
        font-weight: 900;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 24px;

        @include Responsive(MD) {
          font-size: 2rem;
        }

        @include Responsive(XS) {
          font-size: 1.5rem;
        }
      }

      .description {
        font-size: 1.1rem;
        margin-bottom: 48px;

        @include Responsive(MD) {
          font-size: 1rem;
        }
      }

      .listSocial {
        display: flex;
        gap: 24px;
        @include Responsive(SM) {
          justify-content: center;
        }

        .social {
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 8px;
          display: flex;
          align-content: center;
          justify-content: center;
          padding: 8px;

          img {
            height: auto;
          }
        }
      }
    }
  }

  // .text {
  //   width: 60%;
  // }
}
