@use "@/assets/styles/common.scss" as *;

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    @include Container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    @include Responsive(MD) {
      height: 70px;
    }
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      font-weight: 800;
      font-size: 1.4rem;
      // -webkit-text-stroke: 1px $color_primary_1;
      color: $color_primary_1;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .desktop {
    display: contents;

    .navLinks {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-weight: 500;

      .btnBook {
        @include Button(L);
        background-color: $color_primary_1;
      }
    }

    @include Responsive(MD) {
      display: none;
    }
  }

  .mobile {
    display: none;

    @include Responsive(MD) {
      display: contents;
    }

    .logo {
      font-weight: 800;
      font-size: 1.1rem;
    }

    .menuBtn {
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;

      svg {
        width: 100%;
        height: auto;
        path {
          stroke: white;
        }
      }
    }
  }

  .fixedMenu {
    position: fixed;
    z-index: 100;
    background-color: rgba($color: $color_black, $alpha: 0.97);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;

    &.active {
      display: block;
    }

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .navLinks {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      font-weight: 500;

      .btnBook {
        @include Button(L);
        background-color: $color_primary_1;
      }
    }

    .btnClose {
      width: 40px;
      height: 40px;
      border: none;
      background: none;
      position: absolute;
      z-index: 3;
      top: 24px;
      right: 24px;

      svg {
        width: 100%;
        height: auto;

        path {
          stroke: white;
        }
      }
    }
  }
}
