@use "@/assets/styles/common.scss" as *;

.feedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;

  .scrollX {
    overflow-x: auto;
    width: 100%;
    max-width: 1000px;
  }

  .personList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 48px 0;
    width: fit-content;
    min-width: 100%;

    .person {
      display: flex;
      opacity: 0.3;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all ease 0.1s;
      border-color: transparent;
      border-style: solid;
      border-width: 4px;

      &.active {
        opacity: 1;
        outline: 2px solid rgba($color: white, $alpha: 0.5);
      }

      .avatar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.feedbackItemDetail {
  display: flex;
  max-width: 1000px;
  width: 100%;
  gap: 48px;
  align-items: center;
  padding: 24px 0;
  border-top: 1px dashed rgba($color: white, $alpha: 0.2);
  @include Responsive(SM) {
    flex-direction: column;
  }

  .text {
    width: 50%;
    @include Responsive(SM) {
      width: 100%;
    }

    .message {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 24px;

      @include Responsive(MD) {
        font-size: 1.2rem;
      }
    }

    .description {
      margin-bottom: 48px;
      color: rgba($color: white, $alpha: 0.8);
    }

    .name {
      font-weight: 800;
    }

    .place {
      color: $color_primary_1;
    }
  }

  .image {
    width: 50%;
    @include Responsive(SM) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
